body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #f1f1f1;
}

.container {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.7)
    ),
    url(/images/madrid-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffff;
  padding: 200px 0px;
}
header h1 {
  font-size: 96px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

header h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #272044;
  padding: 16px 32px;
  background-color: #ffff;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
main {
  background-color: #ffff;
}

main h2 {
  font-size: 24px;
  opacity: 0.3;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
main h3 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}
main p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  font-weight: 400;
}

main .image-landmark {
  max-width: 100%;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.9)
    ),
    url(/images/madrid-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffff;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}

footer a {
  color: #ffff;
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.5;
}
.grid {
  display: grid;
  grid-gap: 60px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  header h2 {
    font-size: 20;
    line-height: 1.5;
  }

  header h3 {
    font-size: 14px;
    line-height: 1.5;
  }

  header a {
    font-size: 12px;
    line-height: 1.5;
  }

  section {
    padding: 50px 0px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
}
